<% if owner_signed_in? %>
  <br/>
  <div id="to_white">
    <h5>詳細</h5><br/>
    <table class="collection">
      <tr class="collection-item">
        <th><i class="material-icons">format_list_numbered</i><label>名前</label></th>
        <td><%= @borrower.name %></td>
      </tr>
      <tr class="collection-item">
        <th><i class="material-icons">book</i><label>Twitter ID</label></th>
        <td><%= @borrower.twitter_id %></td>
      </tr>
      <tr class="collection">
        <th></th><td></td>
      </tr>
    </table>
    <label>貸し出し中</label><br/>
    <div class="collection">
      <% @active_books.each do |book| %>
        <% if book.borrowers.last == @borrower and book.activate %>
          <%= link_to(book, class: "collection-item") do %>
            <%= book.name %>
          <% end %>
          <%= link_to "返却", return_book_borrower_path(:book_id=>book.id),
                      class: "btn", :method => :post,
                      data: { confirm: "返却しますか？" } %>
          <div class="divider"></div>
        <% end %>
      <% end %>
    </div><br/>
    <label>貸し出し履歴</label><br/>
    <div class="collection">
      <% @books.each do |book| %>
        <%= link_to(book, class: "collection-item") do %>
          <%= book.name %>
          <%= book.created_at %>
        <% end %>
      <% end %>
    </div><br/>
    <%= link_to 'Lend this borrower', lend_borrower_path, class: "btn" %>
    <%= link_to "Edit this borrower", edit_borrower_path, class: "btn" %><br/><br/>
    <%= link_to "delete this borrower", @borrower, class: "btn red", method: :delete,
                data: { confirm: "You sure?" }%>
  </div>
<% else %>
<% end %>