<%= form_tag(url: root_path, class: "field", method: "get") do %>
  <h5>蔵書の検索</h5>
  <label class="material-icons">search</label>
  <%= text_field_tag(:search, '', placeholder: "本の名前を入力してください。") %>
  <%= submit_tag("検索", class: "btn") %>
<% end %><br/>
<% if @search_books.nil? %>
  <h6>当てはまる書籍はありません。</h6>
<% else %>
  <div class="collection">
    <% @search_books.each do |book| %>
      <%= link_to(book, class: "collection-item") do %>
        <%= book.name %>
      <% end %>
    <% end %>
  </div>
<% end %>
