<% if owner_signed_in? %>
  <ul id="slide-out" class="sidenav">
    <br/><br/><br/>
    <li><%= link_to 'アカウントの編集', edit_owner_registration_path %></li>
    <li><div class="divider"></div></li>
    <li><%= link_to '蔵書の検索', home_search_book_path %></li>
    <li><div class="divider"></div></li>
    <li><%= link_to '貸出先の検索', home_search_borrower_path %></li>
    <li><div class="divider"></div></li>
    <li><%= link_to 'ログアウト', destroy_owner_session_path, method: :delete %></li>
    <li><div class="divider"></div></li>
    <li><%= link_to "アカウント削除", registration_path(current_owner), data: { confirm: "本当によろしいですか?" }, method: :delete, class: "red-text text-darken-2" %></li>
  </ul>
  <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons large-size menu position">menu</i></a>
<% end %>

<script>
  $('.sidenav').sidenav();
</script>