<div class="main">
  <h5>蔵書一覧</h5><br/>
  <div class="collection">
    <% @books.each do |book| %>
      <%= link_to(book) do %>
        <%= link_to(book, class: "collection-item") do %>
          <%= book.name %>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <br/>
  <%= will_paginate @books %>
  <%= link_to "＋", new_book_path, class: "btn-floating btn-large waves-effect waves-light red right" %>
  <br/><br/><br/>
  <div class="search-books hide-on-med-and-down">
    <%= render 'parts/search_book' %>
  </div>
</div>