<% if owner_signed_in? %>
  <h5>蔵書一覧</h5><br/>
  <div class="collection">
    <% @books.each do |book| %>
      <%= link_to(book) do %>
        <%= link_to(book, class: "collection-item") do %>
          <%= book.name %>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <br/>
  <%= will_paginate @books %>
<% end %>
<%= link_to "+", new_book_path, class: "btn-floating btn-large waves-effect waves-light red right" %>
