<div id="to_white">
  <%= form_tag(url: root_path, class: "field", method: "get") do %>
    <label class="material-icons">search</label>
    <%= text_field_tag(:search, '', placeholder: "本の名前を入力してください。") %>
    <%= submit_tag("検索", class: "btn") %>
  <% end %><br/>
  <div class="collection">
    <% @search_books.each do |book| %>
      <%= link_to(book, class: "collection-item") do %>
        <%= book.name %>
      <% end %>
    <% end %>
  </div>
</div>
