<% if owner_signed_in? %>
  <br/>
  <div id="to_white">
    <h5>本の編集</h5><br/>
    <%= form_for(@book) do |f| %>
      <div class="field">
        <i class="material-icons">format_list_numbered</i>
        <label>ISBN</label><br/>
        <%= f.text_field :ISBN, placeholder: "Please type book ISBN." %>
      </div>
      <div class="field">
        <i class="material-icons">book</i>
        <label>書籍名</label><br/>
        <%= f.text_field :name, placeholder: "Please type book name." %>
      </div>
      <div class="field">
        <i class="material-icons">people</i>
        <label>著者</label><br/>
        <%= f.text_field :author, placeholder: "Please type book author." %>
      </div>
      <div class="field">
        <i class="material-icons">location_city</i>
        <label>出版社</label><br/>
        <%= f.text_field :publisher, placeholder: "please type book publisher" %>
      </div>
      <br/>
      <%= f.submit "Update", class: "btn" %>
    <% end %>
  </div>
<% else %>
<% end %>